
/*---TOPページ---*/
li{
    list-style: none;
}

a:link{
    text-decoration: none;
    color:black;
}

a:visited{
    text-decoration: none;
    color:black;
}

header {
    background-color: beige;
    height: 90px;
}

.header-left{
    float: left;
    font-size: 24px;
    padding: 26px 40px;
}

.nav{
    float: right;
    padding-top: 8px;
}

.btn{
    display:inline-block;
    text-align: center;
    padding: 8px 24px;
    border: 1px black solid;
    background-color: white;
    margin-right: 20px;
  }

/*---thread_confirm スレッド確認ページ---*/
.main{
    margin: 0 auto;
    max-width: 800px;
}
